html,body {
  padding:0px;
  margin:0px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #E6E6FA;
}
